Repository subhaze/mono, changes with the labels that .github/labeler.yml gives for each.
All labels: action-local, app, asocial-network, belowthefold-rocks, faulty-technology, itsnotthecereal-life, package, tailwind-global, typescript-global, labeler-changes

compress images and convert to webp
  apps/belowthefold-rocks/public/rocks.jpg
  apps/belowthefold-rocks/src/app/page.tsx
  apps/belowthefold-rocks/src/assets/rocks.webp
  apps/itsnotthecereal-life/src/app/page.tsx
  apps/itsnotthecereal-life/src/assets/not-life-cereal.jpg
  apps/itsnotthecereal-life/src/assets/not-life-cereal.webp
Labels: app, belowthefold-rocks, itsnotthecereal-life

compress images and convert to webp (#7)
  apps/belowthefold-rocks/public/rocks.jpg
  apps/belowthefold-rocks/src/app/page.tsx
  apps/belowthefold-rocks/src/assets/rocks.webp
  apps/itsnotthecereal-life/src/app/page.tsx
  apps/itsnotthecereal-life/src/assets/not-life-cereal.jpg
  apps/itsnotthecereal-life/src/assets/not-life-cereal.webp
Labels: app, belowthefold-rocks, itsnotthecereal-life

new site, new you
  .github/workflows/preview_itsthecereal-life.yml
  .github/workflows/product_itsthecereal-life.yml
  apps/itsthecereal-life/.eslintrc.js
  apps/itsthecereal-life/.gitignore
  apps/itsthecereal-life/README.md
  apps/itsthecereal-life/next-env.d.ts
  apps/itsthecereal-life/next.config.js
  apps/itsthecereal-life/package.json
  apps/itsthecereal-life/postcss.config.js
  apps/itsthecereal-life/src/app/layout.tsx
  apps/itsthecereal-life/src/app/page.tsx
  apps/itsthecereal-life/src/assets/life-cereal.webp
  apps/itsthecereal-life/src/assets/not-life-cereal.webp
  apps/itsthecereal-life/src/styles/globals.css
  apps/itsthecereal-life/tailwind.config.js
  apps/itsthecereal-life/tsconfig.json
  package-lock.json
Labels: app

update deps
  .github/workflows/preview_itsthecereal-life.yml
  .github/workflows/production_itsthecereal-life.yml
  apps/itsthecereal-life/package.json
  package-lock.json
Labels: app

trigger workflow on workflow updates for app
  .github/workflows/preview_itsthecereal-life.yml
Labels: none

pin vercel version, there's a bug in latest
  .github/actions/vercel/action.yml
Labels: action-local

new site, new you (#9)
  .github/actions/vercel/action.yml
  .github/workflows/preview_itsthecereal-life.yml
  .github/workflows/production_itsthecereal-life.yml
  apps/itsthecereal-life/.eslintrc.js
  apps/itsthecereal-life/.gitignore
  apps/itsthecereal-life/README.md
  apps/itsthecereal-life/next-env.d.ts
  apps/itsthecereal-life/next.config.js
  apps/itsthecereal-life/package.json
  apps/itsthecereal-life/postcss.config.js
  apps/itsthecereal-life/src/app/layout.tsx
  apps/itsthecereal-life/src/app/page.tsx
  apps/itsthecereal-life/src/assets/life-cereal.webp
  apps/itsthecereal-life/src/assets/not-life-cereal.webp
  apps/itsthecereal-life/src/styles/globals.css
  apps/itsthecereal-life/tailwind.config.js
  apps/itsthecereal-life/tsconfig.json
  package-lock.json
Labels: action-local, app

bump versions
  .github/actions/vercel/action.yml
  .github/workflows/preview_belowthefold-rocks.yml
  .github/workflows/preview_faulty-technology.yml
  .github/workflows/preview_itsnotthecereal-life.yml
  .github/workflows/production_belowthefold-rocks.yml
  .github/workflows/production_faulty-technology.yml
  .github/workflows/production_itsnotthecereal-life.yml
Labels: action-local

set vercel version via installing initial at global scope
  .github/actions/vercel/action.yml
Labels: action-local

fix title of site
  apps/itsthecereal-life/src/app/page.tsx
Labels: app

fix image alt tag
  apps/itsthecereal-life/src/app/page.tsx
Labels: app

new site, new you
  .github/workflows/preview_anything-useless-today.yml
  .github/workflows/production_anything-useless-today.yml
  apps/anything-useless-today/.eslintrc.js
  apps/anything-useless-today/.gitignore
  apps/anything-useless-today/README.md
  apps/anything-useless-today/next-env.d.ts
  apps/anything-useless-today/next.config.js
  apps/anything-useless-today/package.json
  apps/anything-useless-today/postcss.config.js
  apps/anything-useless-today/src/app/[...siteHost]/page.tsx
  apps/anything-useless-today/src/app/layout.tsx
  apps/anything-useless-today/src/app/page.tsx
  apps/anything-useless-today/src/assets/josh-amburn.webp
  apps/anything-useless-today/src/assets/life-cereal.webp
  apps/anything-useless-today/src/assets/not-life-cereal.webp
  apps/anything-useless-today/src/styles/globals.css
  apps/anything-useless-today/tailwind.config.js
  apps/anything-useless-today/tsconfig.json
  apps/itsthecereal-life/package.json
  apps/next-proxy/next.config.js
Labels: app

sync package-lock file
  package-lock.json
Labels: none

new site, new you (#11)
  .github/workflows/preview_anything-useless-today.yml
  .github/workflows/production_anything-useless-today.yml
  apps/anything-useless-today/.eslintrc.js
  apps/anything-useless-today/.gitignore
  apps/anything-useless-today/README.md
  apps/anything-useless-today/next-env.d.ts
  apps/anything-useless-today/next.config.js
  apps/anything-useless-today/package.json
  apps/anything-useless-today/postcss.config.js
  apps/anything-useless-today/src/app/[...siteHost]/page.tsx
  apps/anything-useless-today/src/app/layout.tsx
  apps/anything-useless-today/src/app/page.tsx
  apps/anything-useless-today/src/assets/josh-amburn.webp
  apps/anything-useless-today/src/assets/life-cereal.webp
  apps/anything-useless-today/src/assets/not-life-cereal.webp
  apps/anything-useless-today/src/styles/globals.css
  apps/anything-useless-today/tailwind.config.js
  apps/anything-useless-today/tsconfig.json
  apps/itsthecereal-life/package.json
  apps/next-proxy/next.config.js
  package-lock.json
Labels: app

small change up
  apps/anything-useless-today/next.config.js
  apps/anything-useless-today/src/app/page.tsx
Labels: app

remove useless catch-all
  apps/anything-useless-today/src/app/[...siteHost]/page.tsx
Labels: app

remove useless catch-all (#12)
  apps/anything-useless-today/src/app/[...siteHost]/page.tsx
Labels: app

update package lock file
  package-lock.json
Labels: none

minor changes
  .github/actions/vercel/action.yml
  apps/anything-useless-today/package.json
  package-lock.json
  package.json
Labels: action-local, app

.github/labeler.yml:

action-local:
- '.github/actions/**'

app:
- 'apps/**'

asocial-network:
- 'apps/asocial-network/**'

belowthefold-rocks:
- 'apps/belowthefold-rocks/**'

faulty-technology:
- 'apps/faulty-technology/**'

itsnotthecereal-life:
- 'apps/itsnotthecereal-life/**'

package:
- 'packages/**'

tailwind-global:
- 'packages/tailwind-config/**'

typescript-global:
- 'packages/tsconfig/**'

labeler-changes:
- '.github/labeler.yml'
- '.github/workflows/labeler.yml'
